
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  font-family: inherit;
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  background-color: #f5f5f5; 
  color: #333; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  color: inherit;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  white-space: nowrap;
}

/* Заголовок */
header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  padding: 42px;
}

header h1 {
  font-size: 36px;
  color: #88ab33;
}

/* Основная обертка */
.wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
}

@media (max-width: 510px) {
  .wrapper {
    width: 100%;
  }

  header {
    justify-content: center;
  }
}


.todohero_section {
  border: 1px solid #c2b39a;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  width: 90%;
  max-width: 455px;
  padding: 12px;
  border-radius: 11px;
  margin-bottom: 24px;
}

.todohero_section div:last-child {
  background-color: #88ab33;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  font-size: 34px; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}


.form {
  align-self: center;
  width: 97%;
  max-width: 455px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 38px;
}

.form label {
  width: 90%;
}

.form input {
  background-color: #fff; 
  color: #000; 
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 11px;
  padding: 12px;
}

.form input::placeholder {
  color: #000; 
  opacity: 0.7; 
}

.form button {
  width: 50px; 
  height: 50px;
  border-radius: 8px; 
  background-color: #88ab33;
  border: none;
  color: #fff;
  font-size: 24px; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold; 
}

.form button:hover {
  background-color: #76a22d;
}


.todo_list {
  align-self: center;
  width: 97%;
  max-width: 455px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 27px;
  margin-bottom: 27px;
  gap: 27px;
}


.todo_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  max-width: 455px;
  border: 1px solid #c2b39a;
  font-size: 16px;
  background-color: #0d0d0d;
  color: #fff;
  padding: 12px;
  border-radius: 8px;
}

.todo_items_left {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
}

.todo_items_right {
  display: flex;
  gap: 4px;
}

.todo_items_right button {
  background-color: transparent;
  color: #fff;
  border: none;
}

.todo_items_right button:hover svg {
  fill: #88ab33;
}

.todo_items_right button svg {
  fill: #c2b39a;
  width: 24px;
  height: 24px;
  transition: fill 0.2s;
}


@media (max-width: 510px) {
  .todohero_section {
    flex-direction: column;
    gap: 12px;
  }

  .todo_item {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .todo_items_right {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
}
